import(plotrix)
import(HTSCluster)

## import methods
importFrom(edgeR, calcNormFactors)
importFrom(poisson.glm.mix, mylogLikePoisMix)

export(HTSDiff)
export(nullModelLogLike)
export(syntheticData)
