import(methods)
import(Biobase)

## import classes
importClassesFrom(edgeR, DGEList)
importClassesFrom(edgeR, DGEExact)
importClassesFrom(edgeR, DGEGLM)
importClassesFrom(edgeR, DGELRT)
importClassesFrom(DESeq, CountDataSet)
#importClassesFrom(EDASeq, SeqExpressionSet)

## import S4 methods
importMethodsFrom(DESeq, counts, conditions)
#importMethodsFrom(EDASeq, exprs)

## import methods
importFrom(edgeR, calcNormFactors, cpm, rpkm)
importFrom(DESeq, estimateSizeFactorsForMatrix, newCountDataSet)
#importFrom(EDASeq, newSeqExpressionSet)

## export methods
exportMethods(HTSFilter)
exportMethods(HTSBasicFilter)
export(normalizeData)